*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}

body {
  max-width: 1366px;
  background: #FDFDFB;
  @media screen and (max-width: 991px) {
    max-width: 790px;
  }
  @media screen and (max-width: 767px) {
    max-width: none;
  }
}
.wrapper {
  display: grid;
  min-height: 100vh;
  grid-template: minmax(100px, auto) 1fr minmax(70px, auto) / 1fr;
  grid-template-areas:
    "header"
    "main"
    "footer";
  max-width: 1166px;
  margin: 0 auto;
  
}

main {
  grid-area: main;
}

%robotolite {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
}

%robotonormal {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

%robotomedium {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
}

%robotobold {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}

%playnormal {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 43px;
}

%playbold {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
}

%pratanormal {
  font-family: 'Prata';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}