.header {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 36px 6vw;
  @media screen and (max-width: 820px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 1080px;
  }
  @media screen and (max-width: 360px) {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    padding: 20px;
  }
  &__logo {
    display: flex;
    align-items: center;
  }
  &__nav {
    @media screen and (max-width: 360px) {
      padding: 10px 0;
    }
    a {
      @extend %robotonormal;
      cursor: pointer;
      position: relative;
      color: #555248;
      margin-right: 65px;
      @media screen and (max-width: 820px) {
        margin-right: 30px;
      }
      @media screen and (max-width: 360px) {
        margin-right: 30px;
      }
    }
    a:last-child {
      margin: 0;
    }
    a:hover {
      color: red;
    }
    a::before {
      content: '';
      bottom: 0;
      right: 0;
      position: absolute;
      width: 0%;
      height: 2px;
      background-color: red;
      transition: 0.2s;
    }
    a:hover:before {
      width: 100%;
      left: 0;
    }
  }
  &__link {
    img {
      cursor: pointer;
      margin-right: 20px;
      @media screen and (max-width: 360px) {
        margin-right: 120px;
      }
    }
    img:last-child {
      margin: 0;
    }
    img:hover {
      color: red;
    }
  }
}