.range {
  background: #FFFFFF;
  padding-bottom: 80px;
  width: 1366px;
  @media screen and (max-width: 991px) {
    max-width: 895px;
  }
  @media screen and (max-width: 360px) {
    padding-left: 20px;
  }
  &__whatch {
    a {
      @extend %robotomedium;
      position: relative;
      font-size: 16px;
      line-height: 19px;
      color: #444240;
      margin-left: 1170px;
      @media screen and (max-width:360px) {
        margin-left: 220px;
      }
    }
    a:before {
      content: '';
      position: absolute;
      display: block;
      width: 90%;
      left: 5px;
      top: 20px;
      border: 1px solid #C4C0B6;
    }
    a:hover {
      color:red
    }
  }
  div {
    h2 {
      display: flex;
      justify-content: center;
      @extend %playnormal;
      color: #1B1A17;
      padding: 80px 0 50px 0;
      @media screen and (max-width: 360px) {
        font-size: 24px;
        justify-content: start;
        padding: 30px 0;
      }
    }
  }
  .block {
    display: flex;
    margin: 0px -27px;
    padding: 0 100px;
    @media screen and (max-width: 991px) {
      flex-wrap: wrap;
      justify-content: center;
      margin: -17px;
    }
    @media screen and (max-width: 360px) {
      flex-direction: column;
      padding: 0;
      margin: -17px;
    }
    .cards {
      padding: 0px 17px;
      @media screen and (max-width: 991px) {
        padding: 17px;
      }
      @media screen and (max-width: 360px) {
        padding: 17px;
      }
      .card {
        display: flex;
        flex-direction: column;
        width: 370px;
        height: 467px;
        background: #FDFDFB;
        padding: 40px;
        @media screen and (max-width: 991px) {
          width: 300px;
        }
        @media screen and (max-width: 360px) {
          width: 320px;
        }
        p:first-child {
          @extend %playbold;
          letter-spacing: 0.03em;
          color: rgba(27, 26, 23, 0.82);
          margin-bottom: 10px;
        }
        p {
          @extend %pratanormal;
          font-size: 12px;
          line-height: 16px;
          color: rgba(27, 26, 23, 0.82);
        }
        div {
          position: relative;
          flex: 1 1 auto;
          img {
            position: absolute;
            top: 0;
            left: 0;
            @media screen and (max-width: 991px) {
              width: 200px;
            }
            @media screen and (max-width: 360px) {
              width: 250px;
            }
          }
        }
        a {
          @extend %playnormal;
          font-size: 16px;
          line-height: 21px;
          color: #1B1A17;
        }
        a:hover {
          color: red;
        }
        a:before {
          content: "";
          display: inline-block;
          vertical-align: middle;
          width: 30px;
          border: 1px solid #8B8371;
          position: relative;
          left: -14px;
        }
      }
    }
  }
}